* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.searchBarContainer {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000e6;
    color: white;
    height: 100px;
}

.searchForm {
    font-size: 1.4rem;
}

label {
    vertical-align: middle;
    line-height: 1.5;
}

input {
    width: 300px;
    padding: 2px;
    margin: 0 10px;
}

.searchButton {
    width: 80px;
    height: 23px;
}

.content > .weatherInfo > span,
.location {
    display: block;
    text-align: center;
}

.temperature {
    font-size: 2.5rem;
}

.content {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.switch {
    display: inline;
}

.weatherInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weatherInfo > div {
    display: flex;
    align-items: center;
}

.switch {
    margin-left: 10px;
    padding: 6px;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0.774);
    color: white;
    cursor: pointer;
}

.switch:hover {
    transform: scale(1.01);
}

.switch:active {
    background-color: rgba(0, 0, 0, 0.815);
    transform: scale(1.02);
}

.inactive {
    display: none;
}

.active {
    display: block;
}

.loading {
    font-size: 1.4rem;
}

.icon {
    height: 40px;
    width: 40px;
}